<nav id="pagination" class="pagination" role="pagination">
	<div class="inner">
        {{#if next}}
            <a class="pagination-item pagination-prev" href="{{page_url next}}"><span>نوشته های کهنه تر</span> <i class="icon-arrow-right"></i></a>
        {{/if}}
	    <span class="pagination-info">صفحه <span class="digit2p">{{page}}</span> از <span class="digit2p">{{pages}}</span></span>
        {{#if prev}}
            <a class="pagination-item pagination-next" href="{{page_url prev}}"><i class="icon-arrow-left"></i> <span>نوشته های تازه تر</span></a>
        {{/if}}
	    <div class="clear"></div>
	</div>
</nav>